.jumbotron img{
	border-radius: 100%;
	width: 200px;
}
.container{
	text-align:center;
}
.jumbotron{
	background: 

}
section{
	min-height: 300px;

}
.fortovolio{
	background: #0000px;
}
	










































